<% include ../partials/header %>
<div class="container" style="background:#e0e0e0; border-radius:10px;">
    <div class="row" >
        <h1 style="text-align: center; color:black;">Edit <%= campground["name"] %></h1>
        <div style="width: 50%; margin: 25px auto;">
            <form class="form-horizontal" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
               <div class="form-group">
                    <label class="col-lg-3 control-label">Name</label>
                    <div class="col-lg-9" >
                        <input class="form-control"type="text" name="campground[name]" value="<%= campground.name %>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Image URL</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" name="campground[image]" value="<%= campground.image %>">
                    </div>
                </div>
                <%var labels = ["Location","Price","Amenities","Booking Window"];%>
                <%for(var i=0;i<campground.info.length;i++){%>
                 <div class="form-group">
                    <label  class="col-lg-3 control-label"><%=labels[i]%></label>
                    <div  class="col-lg-9">
                        <input class="form-control"  type="text" name="campground[info][<%= i %>]" value="<%= campground.info[i] %>">
                    </div>
                </div>
                <% } %>
                <div class="form-group">
                    <!--NOTE: for textarea, display value between the tags, not in the value field-->
                    <label class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" type="text" name="campground[description]"><%= campground.description%></textarea>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-4"><a href="/campgrounds">Go Back</a></div>
                        <div class="col-md-8"><button class="btn btn-lg btn-primary btn-block">Submit</button></div>
                    </div>
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>
